html, body {
    height: 100%;
    margin: 0;  
}

.caixa {
    height: 300px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.header {
    height: 70px;
    width: 100%;
    background-color: #68d6a3ff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.empresa {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.sobre {
    color: white;
    font-size: 40px;
}

.link-sobre {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.link-sobre:hover {
    color: #48b281;
}

.quiz {
    color: white;
    font-size: 40px;
}

.link-quiz {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.link-quiz:hover {
    color: #48b281;
}

.contato {
    color: white;
    font-size: 40px;
}

.link-contato {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.link-contato:hover {
    color: #48b281;
}

.carrinho {
    border: none;
    background-color: #68d6a3ff;
    cursor: pointer;
}